<div class="container operation-AdminMain position-relative borderTemp">
    <div class="card operation-Admin">
        <div class="card-head backgroudOrang">
            <h2>Operations</h2>
        </div>
        <div class="card-body backgroudOrang">
            <button class="buttonWidthlarge btn btn-dark mt-2"> Add User</button><br>
            <button class="buttonWidthlarge btn btn-dark mt-2"> Add Vendor</button><br>
            <button class="buttonWidthlarge btn btn-dark mt-2"> List All Vendor</button><br>
            <button class="buttonWidthlarge btn btn-dark mt-2"> Add Asset Class</button><br>
            <button class="buttonWidthlarge btn btn-dark mt-2"> Add Asset Type</button><br>
        </div>
    </div>
</div>